/* 
Hide Properties in reading mode by default.
Add "show_properties" to `css_classes` property to show them.
============================================================= */
.workspace-leaf-content[data-mode="preview"]
.markdown-preview-view
.metadata-container{
    display: none;
}

.workspace-leaf-content[data-mode="preview"]
.markdown-preview-view.show_properties
.metadata-container{
    display: block;
}

/* Show "Add property" button in reading mode by default.
Add "hide_add_property_btn" to `css_classes` property to hide it.
================================================================= */
.workspace-leaf-content[data-mode="preview"]
.markdown-preview-view.hide_add_property_btn
.metadata-add-button {
    display: none;
}